/* Write your CSS here. */

.wgs{
    display: inline-block;
    height: 241px;
    width: 320px;
    position: relative;
    overflow: hidden;
    
}

.wgs__mole-head{
    height: 178px;
    width: 188px;
    position: absolute;
    padding-left: 54.5px;
    transition: 250ms;
}

.wgs__dirt-pile{
    height: 110px;
    width: 320px;
    position: absolute;
    bottom: 0;
}

.wgs__mole-head--hidden{
    margin-top: 241px;
    transition: 250ms;
}

.pf {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}